<include file="Public:header" />
<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">

<link href="__CSS__/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
<link href="__CSS__/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>

<link href="__CSS__/style.css" rel="stylesheet">

<style>
    ul { list-style: none outside none; margin:0; padding: 0; }
    li { margin: 0 10px; display: inline; }
    .form-group img {
        width: 100px;
        height: 100px;
        margin: auto;
        display: inline;
        margin-bottom: 10px;
    }
</style>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>日历</h5>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>申请提示框</h5>
                </div>
                <div class="ibox-content">
                    <div id='external-events'>
                        <p>拖拽申请框到日历中编辑申请</p>
                        <div class='external-event navy-bg'><i class="fa fa-arrows"></i>青广活动申请</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated rotateInUpLeft">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">青广活动申请</h4>
                <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
            </div>
            <div class="modal-body">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form class="form-horizontal" action="{:U('Venue/apply')}" enctype ="multipart/form-data" method="post" id= "uploadForm">
                            <input type="hidden" name="stime" id="stime">
                            <input type="hidden" name="etime" id="etime">

                            <div class="form-group" id="data_5"><label class="col-lg-2 control-label">活动时间</label>
                                <div class="col-lg-10">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="input-sm form-control" name="stime" disabled v-model="stime" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="input-sm form-control" name="etime" disabled v-model="etime | reduceDay" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group"><label class="col-lg-2 control-label">活动主题</label>
                                <div class="col-lg-10">
                                    <input type="text" name="theme" class="form-control" v-model="theme">
                                    <span class="help-block m-b-none text-danger" v-show="prompt.theme.isVisible" v-text="prompt.theme.msg"></span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">申请人</label>
                                <div class="col-lg-10">
                                    <input type="text" name="proposer" class="form-control" v-model="proposer">
                                    <span class="help-block m-b-none text-danger" v-show="prompt.proposer.isVisible" v-text="prompt.proposer.msg"></span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">联系方式</label>
                                <div class="col-lg-10">
                                    <input type="text" name="phone" class="form-control" v-model="phone">
                                    <span class="help-block m-b-none text-danger" v-show="prompt.phone.isVisible" v-text="prompt.phone.msg"></span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">使用数量</label>
                                <div class="col-lg-10">
                                    <input type="number" min="1" max="5" name="num" class="form-control" v-model="num">
                                    <span class="help-block m-b-none text-danger" v-show="prompt.num.isVisible" v-text="prompt.num.msg"></span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">摆放地点</label>
                                <div class="col-lg-10">
                                    <input type="text" name="place" class="form-control" v-model="place">
                                    <span class="help-block m-b-none text-danger" v-show="prompt.place.isVisible" v-text="prompt.place.msg"></span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">备注</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control diff-textarea" name="remark"></textarea>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label"><a id='addPic' href="javascript:" v-on:click="addPic">添加图片 </a></label>
                                <div class="col-lg-12" v-if="images.length > 0">
                                    <ul>
                                        <li v-for="(key,image) in images">
                                            <img :src="image" @click='delImage(key)' />
                                            <!-- <a href="javascript:;" style="position: absolute;" @click='delImage(key)'>
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a> -->
                                        </li>
                                    </ul>
                                    
                                </div>
                                
                                <span class="help-block m-b-none text-danger" v-show="prompt.images.isVisible" v-text="prompt.images.msg"></span>
                                <input id="pic" type="file" name="images[]" @change="onFileChange" multiple style="display: none;">
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label"><a href="javascript;" v-on:click="addZip">上传策划 </a></label>
                                <div class="col-lg-10">
                                    
                                    <input id="zip" type="file" name="planning" @change="fileChange" multiple style="display: none;">
                                    <span class="help-block m-b-none text-danger" v-show="prompt.planning.isVisible" v-text="prompt.planning.msg"></span>
                                    <span class="help-block m-b-none" v-show="planning" v-text="planning"></span>
                                </div>
                            </div>
                          
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" @click='sub'>提交</button>
            </div>
        </div>
    </div>
</div>

<include file="Public:footer" />
<!-- iCheck -->
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>

<!-- jQuery UI custom -->
<script src="__JS__/jquery-ui.custom.min.js"></script>

<!-- Full Calendar -->
<script src="__JS__/plugins/fullcalendar/moment.min.js"></script>
<script src="__JS__/plugins/fullcalendar/fullcalendar.min.js"></script>

<script src="__JS__/home/venue.js"></script>