<include file="Public:header" />

<div class="wrapper wrapper-content" id="apply">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox ">

                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="client-detail">
                                <div class="full-height-scroll">

                                    <strong>基础信息</strong>

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>字段</th>
                                                <th>值</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>申请码</td>
                                                <td>{$data.apply.code}</td>
                                            </tr>
                                            <tr>
                                                <td>申请单位</td>
                                                <td>{$data.apply.uid}</td>
                                            </tr>
                                            <tr>
                                                <td>主题</td>
                                                <td>{$data.apply.theme}</td>
                                            </tr>
                                            <tr>
                                                <td>联系方式</td>
                                                <td>{$data.apply.phone}</td>
                                            </tr>
                                            <tr>
                                                <td>借用需求</td>
                                                <td>
                                                    <ul class="unstyled">
                                                        <volist name="data['apply']['borrow']" id="v">
                                                            <li>{$v.name} : {$v.number}</li>
                                                        </volist>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>其它</td>
                                                <td>{$data.apply.other}</td>
                                            </tr>
                                            <tr>
                                                <td>开始时间</td>
                                                <td>{$data.apply.stime}</td>
                                            </tr>
                                            <tr>
                                                <td>结束时间</td>
                                                <td>{$data.apply.etime}</td>
                                            </tr>
                                            <tr>
                                                <td>申请时间</td>
                                                <td>{$data.apply.apply_time}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <hr>

                                    <form class="form-horizontal">
                                        <div class="row">
                                            <volist name="data['apply']['goods']" id="c">
                                                <label class="col-sm-2 control-label">{$c.name}</label>
                                                <volist name="c.child" id="g">
                                                    <div class="col-sm-10">
                                                        <label class="checkbox-inline">{$g.number}</label>
                                                    </div>
                                                </volist>
                                            </volist>
                                        </div>
                                    </form>
                                
                                    <hr/>
                                    <strong>审核结果</strong>
                                    <div id="vertical-timeline" class="vertical-container dark-timeline">
                                        <volist name="data.result" id="v">
                                            <div class="vertical-timeline-block">
                                                <eq name="v.isagree" value="1">
                                                    <div class="vertical-timeline-icon navy-bg">
                                                        <i class="fa fa-check"></i>
                                                <else/>
                                                    <div class="vertical-timeline-icon red-bg">
                                                        <i class="fa fa-times"></i>
                                                </eq>
                                                </div>
                                                <div class="vertical-timeline-content">
                                                    <p>{$v.opinion}</p>
                                                    <span class="vertical-date small text-muted"> {$v.account} - {$v.time} </span>
                                                </div>
                                            </div>
                                        </volist>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<include file="Public:footer" />
