            <div class="footer">
                <div class="pull-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2015
                </div>
            </div>

        </div>
        </div>

    <!-- Mainly scripts -->
    <script src="__JS__/jquery-2.1.1.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__JS__/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="__JS__/inspinia.js"></script>
    <script src="__JS__/plugins/pace/pace.min.js"></script>

    <!-- Sweet alert -->
    <script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>

    <script src="__JS__/vue/vue.js"></script>
    <script src="__JS__/vue/vue-resource.js"></script>
    <script src="__JS__/fun/common.js"></script>
</body>

</html>