<include file="Public:header" />
<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">

<link href="__CSS__/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
<link href="__CSS__/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>
<link href="__CSS__/style.css" rel="stylesheet">

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>日历</h5>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>申请区</h5>
                </div>
                <div class="ibox-content">
                    <div id='external-events'>
                        <p>选中日历中某天后将申请框拖入日历中点击编辑.</p>
                        <div class='external-event navy-bg'><i class="fa fa-arrows"></i>青春工坊申请</div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="alert alert-success">
                        当前编辑的申请
                    </div>
                    <div class="alert alert-info">
                        智绘阁
                    </div>
                    <div class="alert alert-warning">
                        艺韵厅
                    </div>
                    <div class="alert alert-danger">
                        创意格
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated rollIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">青春工坊申请</h4>
                <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
            </div>
            <div class="modal-body">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form class="form-horizontal">
                            <div class="form-group" id="data_5"><label class="col-lg-2 control-label">时间</label>
                                <div class="col-lg-10">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="input-sm form-control" readonly v-model="start" />
                                        <span class="input-group-addon">至</span>
                                        <input type="text" class="input-sm form-control" readonly v-model="end" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">申请人</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" class="form-control" v-model="proposer">
                                    <span class="help-block m-b-none text-danger" v-show="prompt.proposer.isVisible" v-text="prompt.proposer.msg">.</span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">联系方式</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" class="form-control" v-model="phone">
                                    <span class="help-block m-b-none text-danger" v-show="prompt.phone.isVisible" v-text="prompt.phone.msg"></span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">指导老师</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="" class="form-control" v-model="tutor">
                                    <span class="help-block m-b-none text-danger" v-show="prompt.tutor.isVisible" v-text="prompt.tutor.msg"></span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-2 control-label">选择场地</label>

                                <div class="col-sm-10">
                                    <select class="form-control m-b" v-model="selected">
                                        <option v-for="option in houses" v-bind:value="option.id" v-text="option.name"></option>
                                    </select>
                                    <span class="help-block m-b-none text-danger" v-show="prompt.selected.isVisible" v-text="prompt.selected.msg"></span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">使用事由</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control diff-textarea" v-model="reason"></textarea>
                                    <span class="help-block m-b-none text-danger" v-show="prompt.reason.isVisible" v-text="prompt.reason.msg"></span>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" @click="sub">提交申请</button>
            </div>
        </div>
    </div>
</div>

<include file="Public:footer" />
<!-- iCheck -->
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>

<!-- jQuery UI custom -->
<script src="__JS__/jquery-ui.custom.min.js"></script>

<!-- Full Calendar -->
<script src="__JS__/plugins/fullcalendar/moment.min.js"></script>
<script src="__JS__/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="__JS__/home/house.js"></script>
