<include file="Public:header" />
<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">

<link href="__CSS__/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
<link href="__CSS__/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>
<link href="__CSS__/style.css" rel="stylesheet">

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Draggable Events</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="ibox-content">
                        <div id='external-events'>
                            <p>选中日历中某天后将申请框拖入日历中点击编辑.</p>
                            <div class='external-event navy-bg'><i class="fa fa-arrows"></i>青春工坊申请</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>FullCalendar</h2> is a jQuery plugin that provides a full-sized, drag & drop calendar like the one below. It uses AJAX to fetch events on-the-fly for each month and is
                    easily configured to use your own feed format (an extension is provided for Google Calendar).
                    <p>
                        <a href="http://arshaw.com/fullcalendar/" target="_blank">FullCalendar documentation</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Striped Table </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated rollIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">青春工坊申请</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <div class="modal-body">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form class="form-horizontal">
                            
                            <div class="form-group"><label class="col-lg-2 control-label">申请人</label>
                                <div class="col-lg-10"><input type="text" placeholder="" class="form-control"> <span class="help-block m-b-none">Example block-level help text here.</span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">联系方式</label>
                                <div class="col-lg-10"><input type="text" placeholder="" class="form-control"> <span class="help-block m-b-none">Example block-level help text here.</span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">指导老师</label>
                                <div class="col-lg-10"><input type="text" placeholder="" class="form-control"> <span class="help-block m-b-none">Example block-level help text here.</span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-sm-2 control-label">选择场地</label>

                                <div class="col-sm-10">
                                    <select class="form-control m-b" name="account">
                                        <option value="0">请选择</option>
                                        <option>绘智格</option>
                                        <option>艺韵厅</option>
                                        <option>创意格</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">使用事由</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control diff-textarea"></textarea>
                                </div>
                            </div>
                          
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<include file="Public:footer" />
<!-- iCheck -->
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>

<!-- jQuery UI custom -->
<script src="__JS__/jquery-ui.custom.min.js"></script>

<!-- Full Calendar -->
<script src="__JS__/plugins/fullcalendar/moment.min.js"></script>
<script src="__JS__/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="__JS__/fun/house.js"></script>