<include file="Public:header" />
<link href="__CSS__/plugins/slick/slick.css" rel="stylesheet">
<link href="__CSS__/plugins/slick/slick-theme.css" rel="stylesheet">


<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-7">
            <div class="ibox">
                <div class="ibox-content">
                    <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span>
                    <h2>Clients</h2>
                    <p>
                        All clients need to be verified before you can send email and set a project.
                    </p>
                    <div class="input-group">
                        <input type="text" placeholder="Search client " class="input form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                        </span>
                    </div>
                    <div class="clients-list">
                    <ul class="nav nav-tabs">
                        <span class="pull-right small text-muted">1406 Elements</span>
                        <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Contacts</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i> Companies</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                        <tr>
                                            <td class="client-avatar"><img alt="image" src="__IMG__/a2.jpg"> </td>
                                            <td><a data-toggle="tab" href="#contact-1" class="client-link">Anthony Jackson</a></td>
                                            <td> Tellus Institute</td>
                                            <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                            <td> gravida@rbisit.com</td>
                                            <td class="text-right">
                                            	<button class="btn btn-info btn-xs"> Tag</button>
		                                        <button class="btn btn-danger btn-xs">&nbsp;<i class="fa fa-times"></i>&nbsp;</button>
                                        	</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="full-height-scroll">
                  				<div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                        <tr>
                                            <td class="client-avatar"><img alt="image" src="__IMG__/a2.jpg"> </td>
                                            <td><a data-toggle="tab" href="#contact-1" class="client-link">Anthony Jackson</a></td>
                                            <td> Tellus Institute</td>
                                            <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                            <td> gravida@rbisit.com</td>
                                            <td class="text-right">
                                            	<button class="btn btn-info btn-xs"> Tag</button>
		                                        <button class="btn btn-danger btn-xs"> Mag</button>
                                        	</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="ibox ">

                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-4 text-center">
                                    <h2>Nicki Smith</h2>

                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle" src="__IMG__/a2.jpg"
                                             style="width: 62px">
                                    </div>
                                </div>
                 
                                <div class="col-lg-8">
                                    <h2>
                                        About me
                                    </h2>

                                    <p>
                                        <small>Project completed in <strong>60%</strong></small>
                                    </p>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll">

                                    <div class="row">
                                        <div class="col-lg-5">
                                            <dl class="dl-horizontal">
                                                <dt>Created by:</dt> <dd>Alex_Smith</dd>
                                                <dt>Messages:</dt> <dd>  162</dd>
                                            </dl>
                                        </div>
                                        <div class="col-lg-7" id="cluster_info">
                                            <dl class="dl-horizontal" >
                                                <dt>Last Updated:</dt> <dd>16.08.2014 12:15:57</dd>
                                                <dt>Created:</dt> <dd>  10.07.2014 23:36:57 </dd>
                                            </dl>
                                        </div>
                                    </div>

    								<div class="row">
    					                <div class="col-lg-10 col-lg-offset-1">
    					                    <h4 class="text-center m">
    					                        Activity playbill
    					                    </h4>

    					                    <div class="slick_demo_2">
    					                        <div>
    					                            <div class="ibox-content">
    					                                <img src="__IMG__/gallery/1s.jpg">
    					                            </div>
    					                        </div>
    					                        <div>
    					                            <div class="ibox-content">
    					                                <img src="__IMG__/gallery/2s.jpg">
    					                            </div>
    					                        </div>
    					                        <div>
    					                            <div class="ibox-content">
    					                                <img src="__IMG__/gallery/3s.jpg">
    					                            </div>
    					                        </div>
    					                        <div>
    					                            <div class="ibox-content">
    					                                <img src="__IMG__/gallery/4s.jpg">
    					                            </div>
    					                        </div>
    					                    </div>
    					                </div>
    				                </div>

                                    <h5>Basic left float timeline</h5>
    								<div class="ibox-content inspinia-timeline">

    			                        <div class="timeline-item">
    			                            <div class="row">
    			                                <div class="col-xs-3 date">
    			                                    <i class="fa fa-check"></i>
    			                                    6:00 am
    			                                    <br/>
    			                                    <small class="text-navy">2 hour ago</small>
    			                                </div>
    			                                <div class="col-xs-7 content no-top-border">
    			                                    <p class="m-b-xs"><strong>Meeting</strong></p>

    			                                    <p>web app.</p>
    			                                </div>
    			                            </div>
    			                        </div>
    			                        <div class="timeline-item">
    			                            <div class="row">
    			                                <div class="col-xs-3 date">
    			                                    <i class="fa fa-times"></i>
    			                                    7:00 am
    			                                    <br/>
    			                                    <small class="text-navy">3 hour ago</small>
    			                                </div>
    			                                <div class="col-xs-7 content">
    			                                    <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
    			                                    <p>hello world.</p>
    			                                </div>
    			                            </div>
    			                        </div>
    			                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="Public:footer" />
<script src="__JS__/plugins/slick/slick.min.js"></script>
<!-- blueimp gallery -->
<script src="__JS__/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script>

    $('.slick_demo_2').slick({
        infinite: true, // 循环播放
        slidesToShow: 3,
        slidesToScroll: 1,
        centerMode: true,
        // responsive: [
        //     {
        //         breakpoint: 1024,
        //         settings: {
        //             slidesToShow: 3,
        //             slidesToScroll: 3,
        //             infinite: true,
        //             dots: true
        //         }
        //     },
        //     {
        //         breakpoint: 600,
        //         settings: {
        //             slidesToShow: 2,
        //             slidesToScroll: 2
        //         }
        //     },
        //     {
        //         breakpoint: 480,
        //         settings: {
        //             slidesToShow: 1,
        //             slidesToScroll: 1
        //         }
        //     }
        // ]
    });

</script>