<include file="Public:header" />
<link href="__CSS__/plugins/iCheck/custom.css" rel="stylesheet">

<link href="__CSS__/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
<link href="__CSS__/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>

<link href="__CSS__/style.css" rel="stylesheet">

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Draggable Events</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id='external-events'>
                        <p>拖拽申请框到日历中编辑申请.</p>
                        <div class='external-event navy-bg'><i class="fa fa-arrows"></i>物资申请</div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins" id="bar" v-show="isVisible">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h2>详情信息</h2>
                        <div class="space-25"></div>
                        <h5>Folders</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li v-for="v in info.borrow"><a href="javascript:;"> <i class="fa fa-inbox "></i> {{ v.name }} <span class="label label-warning pull-right">{{ v.num }}</span> </a></li>
                        </ul>
                        <h5>颜色含义</h5>
                        <ul class="category-list" style="padding: 0">
                            <li><a href="javascript:;"> <i class="fa fa-circle text-navy"></i> 公共的 </a></li>
                            <li><a href="javascript:;"> <i class="fa fa-circle text-primary"></i> 私有的</a></li>
                        </ul>

                        <h5 class="tag-title">Labels</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Striped Table </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">物资借用申请</h4>
            </div>
            <div class="modal-body">

                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form class="form-horizontal">

                            <div class="form-group"><label class="col-lg-2 control-label">活动主题</label>
                                <div class="col-lg-10"><input type="text" placeholder="" class="form-control" v-model="theme"> <span class="help-block m-b-none">Example block-level help text here.</span>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-lg-2 control-label">手机</label>
                                <div class="col-lg-10"><input type="text" placeholder="" class="form-control" v-model="phone"> <span class="help-block m-b-none">Example block-level help text here.</span>
                                </div>
                            </div>

                            <div class="form-group" id="data_5"><label class="col-lg-2 control-label">借用时间</label>
                                <div class="col-lg-10">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="input-sm form-control" disabled v-model="start" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="input-sm form-control" disabled v-model="end | reduceDay" />
                                    </div>
                                </div>
                            </div>



                            <div class="form-group"><label class="col-lg-2 control-label">分类物品</label>
                                <div class="col-lg-10">
                                    <div style="height: 250px;">
                                        <div class="full-height-scroll">
                                            <ul class="list-group clear-list m-t">
                                                <li class="list-group-item" v-for="v in classify">
                                                    <span class="pull-right">
                                                        <input type="text" v-model="borrow[$index] | goodsNum v.id">
                                                    </span>
                                                    <span class="text-success" v-text="v.name"></span>
                                                    <i class="text-navy" v-text="v.stock-v.occupy"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="sub">提交申请</button>
            </div>
        </div>
    </div>
</div>

<include file="Public:footer" />
<!-- iCheck -->
<script src="__JS__/plugins/iCheck/icheck.min.js"></script>

<!-- jQuery UI custom -->
<script src="__JS__/jquery-ui.custom.min.js"></script>

<!-- Full Calendar -->
<script src="__JS__/plugins/fullcalendar/moment.min.js"></script>
<script src="__JS__/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="__JS__/fun/borrow.js"></script>
