<include file="Public:header" />

<div class="wrapper wrapper-content  animated fadeInRight" id="app">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox">
                <div class="ibox-content">
                    <!-- <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span> -->
                    <h2>用户列表</h2>
                    <p>
                        支持账号、手机号搜索
                    </p>
                    <div class="input-group col-lg-12">
                        <input type="text" placeholder="输入关键词 " class="input form-control" v-model="keyword">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn btn-primary" @click="getList(1)"> <i class="fa fa-search"></i>搜索</button>
                            <button type="button" class="btn btn btn-warning" @click="addUser">新增</button>
                        </span>
                    </div>
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <span class="pull-right small text-muted" v-text="total + '人'"></span>
                            <li :class="{ active : isActive == v.type }" v-for="v in nav" @click="tab(v.type)"><a data-toggle="tab" :href="'#tab-' + v.type"><i class="fa fa-briefcase"></i> {{v.name}}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>头像</th>
                                                    <th>账号</th>
                                                    <th>学院/单位</th>
                                                    <th>手机</th>
                                                    <th class="text-center">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="v in list">
                                                    <td class="client-avatar"><img alt="image" src="__IMG__/a2.jpg"> </td>
                                                    <td v-text="v.account"></td>
                                                    <td v-text="v.nickname"></td>
                                                    <td v-text="v.phone"></td>
                                                    <td class="text-center">
                                                        <button class="btn btn-info btn-xs" @click="userInfo(v.id)"><i class="fa fa-edit"></i>查看</button>
                                                        <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <my-pagination :total="total" :current.sync="current"></my-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4" v-show="detail.id">
            <div class="ibox ">

                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-12">
                                    <button type="button" class="btn btn-warning btn-sm btn-block" @click="modify"><i class="fa fa-envelope"></i>修改</button>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll">
                                    <strong>基础信息</strong>
                                    <table class="table small m-b-xs" v-show="!isModify">
                                        <tbody>
                                            <tr>
                                                <td>账号</td>
                                                <td v-text="detail.account"></td>
                                            </tr><tr>
                                                <td>手机号</td>
                                                <td v-text="detail.phone"></td>
                                            </tr><tr>
                                                <td>类型</td>
                                                <td v-text="detail.type | utype"></td>
                                            </tr><tr>
                                                <td>学院</td>
                                                <td v-text="detail.college"></td>
                                            </tr><tr v-show="detail.society">
                                                <td>社团</td>
                                                <td v-text="detail.society"></td>
                                            </tr><tr v-show="detail.last_login_time">
                                                <td>上次登录时间</td>
                                                <td v-text="detail.last_login_time"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <form class="form-horizontal" v-show="isModify">
                                        <div class="form-group"><label class="col-sm-2 control-label">账号</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" v-model="detail.account">
                                                <span class="help-block m-b-none">A block of help text </span>
                                            </div>
                                        </div>

                                        <!-- <div class="form-group"><label class="col-sm-2 control-label">密码</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" v-model="detail.password">
                                                <span class="help-block m-b-none">A block of help text </span>
                                            </div>
                                        </div> -->

                                        <div class="form-group"><label class="col-sm-2 control-label">手机号</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" v-model="detail.phone">
                                                <span class="help-block m-b-none">A block of help text </span>
                                            </div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-2 control-label">学院</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" v-model="detail.college">
                                                <span class="help-block m-b-none">A block of help text </span>
                                            </div>
                                        </div>

                                        <div class="form-group"><label class="col-sm-2 control-label">社团</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" v-model="detail.society">
                                                <span class="help-block m-b-none">A block of help text </span>
                                            </div>
                                        </div>

                                        <div v-show="detail.last_login_time" class="hr-line-dashed"></div>
                                        <div v-show="detail.last_login_time" class="form-group"><label class="col-lg-2 control-label">上次登录时间</label>
                                            <div class="col-lg-10"><p class="form-control-static" v-text="detail.last_login_time"></p></div>
                                        </div>
                    
                                        <div class="mail-body text-right tooltip-demo">
                                            <a href="javascript:;" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"><i class="fa fa-reply"></i> 保存</a>
                                            <a href="javascript:;" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" @click=""><i class="fa fa-times"></i>取消</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<template id="template_pagination">
    <nav>
        <ul class="pagination">
            <li :class="{'disabled': current == 1}"><a href="javascript:;" @click="setCurrent(1)"> 首页 </a></li>
            <li :class="{'disabled': current == 1}"><a href="javascript:;" @click="setCurrent(current - 1)"> 上一页 </a></li>
            <li v-for="p in grouplist" :class="{'active': current == p.val}"><a href="javascript:;" @click="setCurrent(p.val)"> {{ p.text }} </a></li>
            <li :class="{'disabled': current == page}"><a href="javascript:;" @click="setCurrent(current + 1)"> 下一页</a></li>
            <li :class="{'disabled': current == page}"><a href="javascript:;" @click="setCurrent(page)"> 尾页 </a></li>
        </ul>
    </nav>
</template>

<include file="Public:footer" />
<script src="__JS__/common/page.js"></script>
<script src="__JS__/admin/user.js"></script>