<include file="Public:header" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">

                    <h2><span class="text-navy">欢迎回来</span>
                    ，{$Think.session.admin_name} <br></h2>

                    <!-- <p>
                        All config options you can trun on/off from the theme box configuration (green icon on the left side of page).
                    </p> -->


                </div>
            </div>
        </div>
    </div>
</div>

<include file="Public:footer" />