<include file="Public:header" />
<link href="__CSS__/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
<link href="__CSS__/plugins/datapicker/datepicker3.css" rel="stylesheet">

<style>
    .lightBoxGallery img {width: 100px;height: 100px;}
</style>

<div class="wrapper wrapper-content  animated fadeInRight" id="apply">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-content">
                    <!-- <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span> -->
                    <h2>申请列表</h2>
                    <p>
                        选择一段时间范围来导出展场展架申请
                    </p>
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-11">
                            <form role="form" class="form-inline" action="{:U('Venue/export')}" method="post" id="export">
                                <div class="form-group" id="data_5">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <input type="text" class="input-sm form-control" placeholder="选择开始时间" name="sdate">
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="input-sm form-control" placeholder="选择结束时间" name="edate">
                                    </div>
                                </div>
                                <button class="btn btn-white" type="button" @click="export"><i class="fa fa-sign-out"></i>导出</button>
                            </form>
                        </div>
                    </div>
                    <div class="clients-list">
                    <ul class="nav nav-tabs">
                        <!-- <span class="pull-right small text-muted">1406 Elements</span> -->
                        <li :class="{ active : isActive == v.type }" v-for="v in tab" @click="tabChange(v.type)"><a data-toggle="tab" :href="'#tab-' + v.type"><i class="fa fa-briefcase"></i> {{v.name}}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <th>
                                                <td>申请码</td>
                                                <td>主题</td>
                                                <td v-if="!isActive">申请时间</td>
                                                <td v-else>审核时间</td>
                                                <td>操作</td>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr v-for="v in applys">
                                                <td v-text="$index + 1"></td>
                                                <td v-text="v.code"></td>
                                                <td v-text="v.theme"></td>
                                                <td v-text="v.apply_time"></td>
                                                <td class="text-right">
                                                    <button class="btn btn-info btn-xs" @click="review(v.id)">查看</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <my-pagination v-if="applys.length !== 0" :total="total" :current.sync="current"></my-pagination>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" v-show="detail.id">
            <div class="ibox ">

                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-4 text-center">
                                    <!-- <h2>Nicki Smith</h2>

                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle" src="__IMG__/a2.jpg"
                                             style="width: 62px">
                                    </div> -->
                                </div>
                 
                                <div class="col-lg-8">
                                    <!-- <h2>
                                        About me
                                    </h2>

                                    <p>
                                        <small>Project completed in <strong>60%</strong></small>
                                    </p>
                                    <div class="progress progress-striped active m-b-sm">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <dl class="dl-horizontal">
                                                <dt>申请码:</dt> <dd v-text="detail.code"></dd>
                                                <dt>申请人:</dt> <dd v-text="detail.proposer"></dd>
                                                <dt>展架数量:</dt> <dd v-text="detail.rack"></dd>
                                                <dt>起始时间:</dt> <dd v-text="detail.stime"></dd>
                                                <dt>使用面积(㎡):</dt> <dd v-text="detail.area"></dd>
                                                <dt>下载附件:</dt> <dd><a :href="detail.planning">下载</a></dd>
                                            </dl>
                                        </div>
                                        <div class="col-lg-6" id="cluster_info">
                                            <dl class="dl-horizontal" >
                                                <dt>申请时间:</dt> <dd v-text="detail.apply_time"></dd>
                                                <dt>联系方式:</dt> <dd v-text="detail.phone"></dd>
                                                <dt>展板数量:</dt> <dd v-text="detail.board"></dd>
                                                <dt>结束时间:</dt> <dd v-text="detail.etime"></dd>
                                                <dt>摆放地点:</dt> 
                                                <dd v-if="detail.place == 1">青广左侧</dd>
                                                <dd v-if="detail.place == 2">青广中部</dd>
                                                <dd v-if="detail.place == 3">青广右侧</dd>
                                            </dl>
                                        </div>
                                    </div>

    								<div class="row">

                                        <div class="lightBoxGallery">
                                            <a v-for="v in detail.img" :href="v" data-gallery><img class="feed-photo" :src="v"></a>

                                            <div id="blueimp-gallery" class="blueimp-gallery" style="display: none;">
                                                <div class="slides" style="width: 138096px;"></div>
                                                <h3 class="title">Image from Unsplash</h3>
                                                <a class="prev">‹</a>
                                                <a class="next">›</a>
                                                <a class="close">×</a>
                                                <a class="play-pause"></a>
                                                <ol class="indicator"></ol>
                                            </div>

                                        </div>
    				                </div>

                                    <h5>审批结果</h5>
    								<div class="ibox-content inspinia-timeline">

                                        <div class="timeline-item" v-show="result" v-for="v in result">
                                            <div class="row">
                                                <div class="col-xs-3 date">
                                                    <i class="fa fa-check" v-if="v.isagree == 1"></i>
                                                    <i class="fa fa-close" v-else></i>
                                                    {{v.role_name}}
                                                    <br/>
                                                    <small v-if="v.isagree == 1" class="text-navy" v-text="v.time"></small>
                                                    <small v-else class="text-danger" v-text="v.time"></small>
                                                </div>
                                                <div class="col-xs-7 content no-top-border">
                                                    <p class="m-b-xs"><strong v-text="v.account"></strong></p>

                                                    <div class="well" v-text="v.opinion"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="timeline-item" v-show="myturn">
                                            <div class="row">
                                                <div class="col-xs-3 date">
                                                    <a href="javascript:;" class="btn btn-xs btn-info" @click="sub">提交</a>
                                                </div>
                                                <div class="col-xs-7 content">
                                                    <p class="m-b-xs">
                                                        <strong>{:session('admin_name')}</strong>
                                                        <a v-show="union" class="pull-right text-navy" @click="setUnion">设置联合审批</a>
                                                    </p>
                                                    <div class="media-body">
                                                        <textarea class="form-control" placeholder="意见" v-model="opinion"></textarea>
                                                    </div>
                                                    <p>
                                                        <input type="radio" id="one" value="1" v-model="picked"><label for="one">通过</label>
                                                        <input type="radio" id="two" value="2" v-model="picked"><label for="two">拒绝</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

    			                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">选择联合审批单位</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                            <div class="col-sm-10">
                                <label v-for="v in departments" class="checkbox-inline"> <input type="checkbox" v-model="union_departments" v-bind:value="v.id"> {{v.name}} </label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="saveUnion">确认</button>
                </div>
            </div>
        </div>
    </div>


</div>

<template id="template_pagination">
    <nav>
        <ul class="pagination">
            <li :class="{'disabled': current == 1}"><a href="javascript:;" @click="setCurrent(1)"> 首页 </a></li>
            <li :class="{'disabled': current == 1}"><a href="javascript:;" @click="setCurrent(current - 1)"> 上一页 </a></li>
            <li v-for="p in grouplist" :class="{'active': current == p.val}"><a href="javascript:;" @click="setCurrent(p.val)"> {{ p.text }} </a></li>
            <li :class="{'disabled': current == page}"><a href="javascript:;" @click="setCurrent(current + 1)"> 下一页</a></li>
            <li :class="{'disabled': current == page}"><a href="javascript:;" @click="setCurrent(page)"> 尾页 </a></li>
        </ul>
    </nav>
</template>

<include file="Public:footer" />
<script src="__JS__/plugins/slick/slick.min.js"></script>

<!--  lightBoxGallery -->
<script src="__JS__/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>

<!-- Data picker -->
<script src="__JS__/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- Date range picker -->
<script src="__JS__/plugins/daterangepicker/daterangepicker.js"></script>
<script>
$('#data_5 .input-daterange').datepicker({
    keyboardNavigation: false,
    forceParse: false,
    autoclose: true
});
</script>
<script src="__JS__/common/page.js"></script>
<script src="__JS__/admin/venue.js"></script>
<script>
.lightBoxGallery {
    text-align: center;
}

.lightBoxGallery img {
    margin: 5px;
}
</script>